/*
    Globals
*/

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
}

a {
    color: #677797;
}

a:hover {
    text-decoration: none;
    color: #8692AC;
}

p {
    font-family:  museo-sans-1,museo-sans-2,Georgia,Cambria,serif;
    font-size: 20px;
    font-weight: lighter;
    color: grey;
    line-height: 2em;
}

/*
    Header
*/

.portfolio-header {
    padding: 50px 0;
    background-color: #303746;
    text-align: center;
}

.portfolio-header .profile-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.portfolio-header .profile-name {
    font-size: 30px;
    margin-bottom: 10px;
    color: #e0e0e0;
    font-family: 'Cantata One', Georgia, Times, serif;
    font-weight: 400;
}

.portfolio-header .profile-description {
    max-width: 320px;
    font-size: 16px;
    color: #aeb6c7;
    margin: 0 auto 10px auto;
}

.portfolio-header .profile-location {
    font-size: 14px;
    color: #717f9e;
}

.glyphicon-map-marker {
    font-size: 14px;
    color: #717f9e;
}

.social-media {
    margin: 15px auto 0 auto;
    font-size: 2em;
    color: #717f9e;
}

/*
    About me
*/

.header-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color: #5e5e5e;
}

.lang {
    color: darkred;
}

/*
    Temporary Styling that allows you to visually understand how
    elements are positioned on the page.
*/

.elem {
    position: relative;
    border: solid #6AC5AC 3px;
}

.elem-red {
    border: solid red 3px;
}

.elem-red > .label, .elem-red > .endlabel {
    color: white;
    background-color: red;
}

.elem-orange {
    border: solid orange 3px;
}

.elem-orange > .label, .elem-orange > .endlabel {
    color: black;
    background-color: orange;
}

.elem-blue {
    border: solid blue 3px;
}

.elem-blue > .label, .elem-blue > .endlabel {
    color: white;
    background-color: blue;
}

.elem-brown {
    border: solid saddlebrown 3px;
}

.elem-brown > .label, .elem-brown > .endlabel {
    color: white;
    background-color: saddlebrown;
}

.label, .endlabel {
    position: absolute;
    background-color: #6AC5AC;
    color: #414142;
    line-height: 1em;
}

.label {
    top: 0;
    left: 0;
    padding: 0 3px 3px 0;
}

.endlabel {
    right: 0;
    bottom: 0;
    padding: 3px 0 0 3px;
}
